footer
	.container
		picture.footer-img
			source(srcset=path+"img/images/qr.webp" type="image/webp" alt="QR-Code")
			source(srcset=path+"img/images/qr.png" type="image/png" alt="QR-Code")
			+img('', 'img/images/qr.webp', 'QR-Code')
		//- +img('footer-img', 'img/images/qr.png', 'QR-Code')
		p.footer-text
			a.footer-link.footer-link-email(href='#mail') ОТПРАВИТЬ E-MAIL
		p.footer-text
			a.footer-link(href='docs/regulation.pdf' target='_blank') УСТАВ АНО РЦ CLEVER
		p.footer-text
			a.footer-link(href='docs/registration.pdf' target='_blank') Свидетельство о государственной регистрации
		p.footer-text
			a.footer-link(href='docs/accounting.pdf' target='_blank') Свидетельство о постановке на налоговый учет
		p.footer-text
			a.footer-link(href='docs/ogrn.pdf' target='_blank') ОГРН
		p.footer-text
			a.footer-link(href='docs/requisites.pdf' target='_blank') Реквизиты