footer
	.container
		+img('footer-img', 'img/images/qr.png', 'QR-Code')
		a.footer-link.footer-link-email ОТПРАВИТЬ E-MAIL
		a.footer-link УСТАВ АНО РЦ CLEVER
		a.footer-link Свидетельство о&nbsp;государственной регистрации
		a.footer-link Свидетельство о&nbsp;постановке на&nbsp;налоговый учет
		p.footer-text ОГРН
		p.footer-text реквизиты