@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'

@import 'base/2-base'
@import 'main/1-main'
@import 'thanks/1-main'
@import 'main/2-target'
@import 'main/3-for'
@import 'main/4-projects'
@import 'main/5-founders'
@import 'main/6-mail'
@import 'base/4-footer'