#main
	padding 120px 0 50px
	background url("../img/backs/main.svg") no-repeat left 300px top 0
	background-size auto
.main
	&-title
		font-size: 32px
		font-weight: bold
		text-transform uppercase
		margin 150px 0 30px
		span
			display block
			color #CCCCCC