#target
	background-color: #113080
	padding 100px 0
	color #fff
.target-title
	margin: 0 0 40px 70px
	&-img
		display block
		margin-bottom: 25px
	h3
		font-size: 24px
		font-weight: bold
		text-transform uppercase