L = 'Lato', sans-serif;
G = 'Gotham', sans-serif;

@font-face
	font-family: 'Gotham';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/GothamBook.eot');
	src: url('../fonts/GothamBook.eot') format('embedded-opentype'),url('../fonts/GothamBook.woff2') format('woff2'),url('../fonts/GothamBook.woff') format('woff'),url('../fonts/GothamBook.ttf') format('truetype'),url('../fonts/GothamBook.svg#GothamBook') format('svg');
@font-face
	font-family: 'Gotham';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/GothamBold.eot');
	src: url('../fonts/GothamBold.eot') format('embedded-opentype'),url('../fonts/GothamBold.woff2') format('woff2'),url('../fonts/GothamBold.woff') format('woff'),url('../fonts/GothamBold.ttf') format('truetype'),url('../fonts/GothamBold.svg#GothamBold') format('svg');
@font-face
	font-family: 'Lato';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Lato.eot');
	src: url('../fonts/Lato.eot') format('embedded-opentype'),url('../fonts/Lato.woff2') format('woff2'),url('../fonts/Lato.woff') format('woff'),url('../fonts/Lato.ttf') format('truetype'),url('../fonts/Lato.svg#Lato') format('svg');