section#thanks
	.container
		.content
			+img('thanks-img', 'img/backs/main.png', 'Облако')
			h1.thanks-title Упс!
			h2.thanks-subtitle Что-то пошло не так. 
				br
				| Попробуйте еще раз
			a.button.button-else(href='/') Попробовать снова