section#target
	.container
		.target-title
			+img('target-title-img', 'img/icons/title-icon-white.svg', 'Организация создана с целью развития интеллектуальных, коммуникативных и творческих способностей детей и молодежи, развития гражданского общества')
			h3 Организация создана с целью развития интеллектуальных, коммуникативных и творческих способностей детей и молодежи, развития гражданского общества
		.row
			.col-md-6
				+it('item-480','img/icons/icon-white.svg', '' , 'проводим групповые и индивидуальные занятия, семинары и конкурсы, круглые столы и конференции, игры и олимпиады')
			.col-md-6
				+it('item-480','img/icons/icon-white.svg', '' , 'осуществляем экспертное психолого-педагогическое консультирование родителей (законных представителей) и педагогических работников')
		.row
			.col-md-6
				+it('item-480','img/icons/icon-white.svg', '' , 'оказываем содействие добровольчеству и проектам популяризации всестороннего развития потенциала детей и молодежи')
			.col-md-6
				+it('item-480','img/icons/icon-white.svg', '' , 'организуем просветительские мероприятия для представителей НКО с целью развития НКО-сектора и повышения компетентности его участников')