section#for
	.container
		+gt('', 'img/icons/title-icon-grey.svg', 'БЛАГОПОЛУЧАТЕЛИ')
		.row
			.col-md-6
				+it('item-2 item-485', 'img/icons/icon-blue.svg', '','Дети и молодые люди в возрасте от 15 – до 35 лет')
			.col-md-6
				+it('item-2 item-485', 'img/icons/icon-blue.svg', '','Сотрудники организаций некоммерческого сектора')