section#projects
	.container
		+gt('', 'img/icons/title-icon-blue.svg', 'ПРОЕКТЫ')
		.row
			.col-md-6
				+it('item-455 item-blue', 'img/icons/icon-blue.svg', 'CLEVER', 'Модульная программа обучения для развития Высших психических функций: память, внимание, мышление, речь, ощущения, восприятие, эмоции, воля.')
				+it('item-455 item-blue', 'img/icons/icon-blue.svg', 'АЗБУКА ПУБЛИЧНЫХ КОММУНИКАЦИЙ', 'Практический курс формирования и развития навыков публичных выступлений, общения с аудиторией, самопрезентации, презентации проекта или идеи.')
			.col-md-6
				+it('item-blue', 'img/icons/icon-blue.svg', '«РАДОВАТЬСЯ <br>И РАДОВАТЬ ДРУГИХ»', 'Мастер-практикум для тех, кто подвержен постоянному профессиональному стрессу и эмоциональному выгоранию. Позволяет взять эмоции под контроль и войти в ресурсное состояние для дальнейшей благотворительной деятельности.')
				+it('item-blue', 'img/icons/icon-blue.svg', '«ФАНДРАЙЗИНГ <br>НА КАБЛУЧКАХ»', 'Курс-погружение в технологию и мастерство ведения переговоров с учетом гендерных особенностей сторон. Для тех, кто осуществляет профессиональную коммуникацию в процессе фандрайзинга и привлекает средства и ресурсы для благотворительных целей.')