section#founders
	.container
		+gt('', 'img/icons/title-icon-grey.svg', 'УЧРЕДИТЕЛИ')
		.row
			.col-md-6
				.founder
					+img('founder-img', 'img/images/marfa.png', 'Марфа Мудрова')
					h4.founder-title Марфа Мудрова
					p.founder-text директор, 
						br
						| руководитель проекта CLEVER
			.col-md-6
				.founder
					+img('founder-img', 'img/images/ilya.png', 'Илья Мясников')
					h4.founder-title Илья Мясников
					p.founder-text продюсер, руководитель проекта АЗБУКА ПУБЛИЧНЫХ КОММУНИКАЦИЙ